PORTFOLIO_PATH=C:\Users\username\Documents\aLxVa-portfolio
DOWNLOADS_PATH=C:\Users\username\Downloads
GIT_COMMIT_MESSAGE="chore: update portfolio content and CVs"
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"
GITHUB_REPO_NAME="username/repo-name"
GITHUB_WORKFLOW_NAME=".deploy-portfolio.yml"
